@font-face {
  font-family: "ClinicaPro-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ClinicaPro-Regular/ClinicaPro-Regular.eot");
  src: url("../fonts/ClinicaPro-Regular/ClinicaPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ClinicaPro-Regular/ClinicaPro-Regular.woff") format("woff"), url("../fonts/ClinicaPro-Regular/ClinicaPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "DidactGothic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DidactGothic/DidactGothic.eot");
  src: url("../fonts/DidactGothic/DidactGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/DidactGothic/DidactGothic.woff") format("woff"), url("../fonts/DidactGothic/DidactGothic.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "DidactGothic", sans-serif;
  color: #1B1A1F; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  text-decoration: none;
  outline: none; }
  a:hover, a:focus {
    outline: none;
    text-decoration: none; }

h1 {
  font-size: 34px;
  color: #fff;
  font-family: "ClinicaPro-Regular", sans-serif; }

h2 {
  color: #393F50;
  font-size: 34px;
  width: 100%;
  text-align: center;
  font-family: "ClinicaPro-Regular", sans-serif; }

.title {
  color: #000000;
  font-size: 64px;
  text-align: center;
  font-weight: normal; }

.container {
  position: relative;
  z-index: 2; }

.tab-pane {
  position: relative;
  z-index: 1; }

.color-accent {
  color: #4397A5; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: none;
    border-radius: 0;
  outline: none;
  font-size: 16px;
  font-family: "DidactGothic", sans-serif; }
  .btn:hover, .btn:focus {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-accent {
  color: #fff;
  background: #1D91B5;
  height: 53px; }
  .btn-accent:hover {
    background: #4397A5; }

.btn-call {
  background: #1D91B5;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px; }
  .btn-call:hover {
    color: #fff;
    background: #4397A5; }

.btn-border {
  background: transparent; }
  .btn-border:hover {
    background: #4397A5; }

.btn-submit {
  background: #3777CC;
  border-radius: 5px;
  color: #fff;
  width: 232px;
  height: 54px; }
  .btn-submit:hover {
    color: #fff;
    background: #1D91B5; }

.btn-group {
  border: none;
    border-radius: 5px;
  overflow: hidden; }
  .btn-group .btn {
    border: 1px solid #1D91B5; }
  .btn-group .btn-accent {
    width: 278px; }
    .btn-group .btn-accent:hover {
      border-color: #4397A5; }
  .btn-group .btn-border {
    width: 196px;
    border-radius: 0 5px 5px 0; }
    .btn-group .btn-border:hover {
      border-color: #4397A5; }

.navbar-toggler {
  padding: 0;
  border: none;
  border-radius: 0;
  display: none; }
  .navbar-toggler span {
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 2px;
    border-radius: 3px;
    background: #1B1A1F; }
  .navbar-toggler:hover, .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none; }

nav.navbar .dropdown:hover .dropdown-toggle::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

nav.navbar .dropdown:hover > .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navbar {
  padding: 0;
  width: 100%; }
  .navbar .navbar-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .navbar .navbar-nav .nav-link {
      padding: 20px 0; }

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1B1A1F;
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  position: relative; }
  .nav-link:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: transparent;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .nav-link:hover {
    color: #4397A5; }
    .nav-link:hover:before {
      background: #4397A5; }

.nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #4397A5;
  border-top: 1px solid #4397A5; }
  .nav-item:last-child {
    border: none;
      border-top: 1px solid #4397A5; }

.dropdown-toggle::after {
  width: 7px;
  height: 5px;
  background: url("../img/arrow-bottom.svg") no-repeat center;
    background-size: contain;
  border: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.nav-item-logo {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5; }

.logo {
  max-width: 190px;
  width: 100%;
  margin: 0 auto; }

.dropdown-menu {
  background: #fff;
  border: none;
    border-radius: 0;
  -webkit-box-shadow: 0 18px 10px rgba(29, 29, 27, 0.15);
          box-shadow: 0 18px 10px rgba(29, 29, 27, 0.15);
  padding: 40px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.dropdown-item {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  margin: 0 0 9px; }
  .dropdown-item:hover {
    background: transparent;
    color: #4397A5; }
    .dropdown-item:hover img {
      opacity: .7; }

.dropdown-menu__logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 240px;
  white-space: normal;
  padding: 10px 15px; }
  .logo-item .img-logo {
    min-height: 49px;
    max-width: 150px;
    width: 100%;
    margin: 0 0 10px; }

header {
  border-bottom: 1px solid #4397A5;
  -webkit-box-shadow: 0 18px 19px rgba(29, 29, 27, 0.15);
          box-shadow: 0 18px 19px rgba(29, 29, 27, 0.15); }
  header .btn-call {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 5px; }

.header-main {
  padding: 0; }

.header-top {
  padding: 14px 45px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .header-top .logo {
    margin: 0; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 24px;
  font-family: 'Roboto', sans-serif; }
  .phone .icon {
    width: 18px;
    height: 18px;
    margin: 0 7px 0 0; }
  .phone:hover {
    color: #4397A5; }

main {
  background: url("../img/main_baner.jpg") no-repeat center;
    background-size: cover;
  color: #fff;
  padding: 170px 0; }
  main p {
    font-size: 15px;
    margin: 30px 0 50px;
    max-width: 340px; }

.product {
  padding: 108px 0 90px;
  position: relative;
  overflow: hidden; }
  .product:before {
    content: '';
    position: absolute;
    right: -276px;
    top: -210px;
    width: 1221px;
    height: 929px;
    background: url("../img/bg1.png") no-repeat center;
      background-size: contain; }
  .product h2 {
    margin: 0 auto 115px; }

.product-box__it {
  width: 345px;
  height: 345px;
  position: relative;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  margin: 0 auto; }
  .product-box__it:hover {
    width: 396px; }
    .product-box__it:hover .product-box {
      padding: 45px 35px 110px;
      -webkit-box-shadow: 0 18px 25px rgba(29, 29, 27, 0.3);
              box-shadow: 0 18px 25px rgba(29, 29, 27, 0.3);
      color: #000;
      height: 396px; }
    .product-box__it:hover h6 {
      color: #357C96;
      font-family: "ClinicaPro-Regular", sans-serif;
      font-size: 15px; }

.product-box {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #1B1A1F; }
  .product-box .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #4397A5; }
    .product-box .links .icon {
      width: 20px;
      margin: 3px 0 0 5px; }

.product-box__icon {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  background: #F2F6F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px; }

.product-box__title {
  text-align: center;
  margin: 20px auto 10px;
  font-size: 26px; }

.product-box__description {
  margin: 20px auto 27px;
  text-align: center;
  max-width: 275px;
  width: 100%;
  min-height: 70px;
  line-height: 1; }

.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.application {
  padding: 0 0 77px;
  position: relative; }
  .application:before {
    content: '';
    position: absolute;
    left: -566px;
    bottom: -30px;
    background: url("../img/bg2.png") no-repeat center;
      background-size: contain;
    width: 989px;
    height: 713px; }
  .application .description {
    text-align: center;
    max-width: 575px;
    margin: 13px auto 42px;
    font-size: 15px; }

.nav-tabs {
  border: 1px solid #4397A5;
    border-radius: 5px 5px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%; }
  .nav-tabs .nav-item {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto; }
  .nav-tabs .nav-link {
    width: 100%;
    height: 100%;
    color: #1B1A1F;
    border: none;
    padding: 10px; }
    .nav-tabs .nav-link:hover {
      border-color: transparent; }
  .nav-tabs .nav-link.active {
    border-color: transparent;
    background: #2C3240;
    color: #fff;
    border-radius: 0; }

.tabs-wrapper {
  width: 100%;
  -webkit-box-shadow: 0 18px 25px rgba(29, 29, 27, 0.3);
          box-shadow: 0 18px 25px rgba(29, 29, 27, 0.3); }

.tab-content {
  width: 100%;
  background: #2C3240;
  color: #fff;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  position: relative;
  padding: 45px 45px 20px; }
  .tab-content:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1160px;
    height: 297px;
    background: url("../img/bg-tab.png") no-repeat center;
      background-size: contain; }

.tab-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.tab-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 20px; }
  .tab-box .number {
    color: #4397A5;
    font-size: 33px;
    margin: 10px 30px 0 0;
    font-family: "ClinicaPro-Regular", sans-serif;
    line-height: 1; }

.tab-box__content {
  max-width: 175px;
  width: 100%;
  line-height: 1.2; }
  .tab-box__content h3 {
    font-size: 18px;
    margin: 0 0 10px; }
  .tab-box__content p {
    opacity: .8; }

.description {
  color: #357C96; }

.system {
  padding: 0 0 50px;
  position: relative;
  z-index: 1; }
  .system:before {
    content: '';
    position: absolute;
    right: -277px;
    bottom: -435px;
    background: url("../img/bg3.png") no-repeat center;
      background-size: contain;
    width: 936px;
    height: 887px; }
  .system h2 {
    margin: 0 auto 65px; }

.system-box {
  margin: 0 0 50px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 18px 19px rgba(29, 29, 27, 0.15);
          box-shadow: 0 18px 19px rgba(29, 29, 27, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 38px 35px 28px;
  color: #1B1A1F; }

.system-box__top {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #DADADA;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .system-box__top h3 {
    font-size: 26px;
    line-height: 1; }

.system-box__icon {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 50px;
  background: #3777CC;
  padding: 10px;
  border-radius: 5px;
  margin: 0 45px 0 0; }

.callback {
  background: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .callback:before {
    content: '';
    position: absolute;
    left: -45px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 50%;
    height: 100%;
    background: url("../img/bg1.jpg") no-repeat 80% center;
      background-size: 1562px; }

.callback-content {
  padding: 100px 0 80px;
  max-width: 370px;
  margin: 0 auto; }
  .callback-content .description {
    color: #357C96;
    text-align: center;
    margin: 30px auto 40px; }

.form-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-call .form-group {
    width: 100%;
    margin: 0 0 20px; }
    .form-call .form-group label {
      width: 100%; }
    .form-call .form-group input {
      text-align: center;
      color: rgba(53, 124, 150, 0.7); }
      .form-call .form-group input::-webkit-input-placeholder {
        color: rgba(53, 124, 150, 0.7); }
      .form-call .form-group input::-moz-placeholder {
        color: rgba(53, 124, 150, 0.7); }
      .form-call .form-group input::-ms-input-placeholder {
        color: rgba(53, 124, 150, 0.7); }
      .form-call .form-group input::placeholder {
        color: rgba(53, 124, 150, 0.7); }
  .form-call button {
    margin: 65px auto 0; }

.project {
  padding: 65px 0 0;
  position: relative;
  z-index: 1; }

.project-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 50px 0 0; }
  .project-box .links-title {
    margin: 0 auto 20px;
    min-height: 60px;
    font-size: 26px;
    color: #357C96;
    line-height: 1; }
  .project-box .links-details {
    color: #4397A5; }

.project-box__image {
  max-width: 342px;
  height: 400px;
  width: 100%;
  -webkit-box-shadow: 0 18px 19px rgba(29, 29, 27, 0.15);
          box-shadow: 0 18px 19px rgba(29, 29, 27, 0.15);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 20px; }

.project-box__content {
  padding: 30px 0 0;
  max-width: 290px;
  width: 100%; }
  .project-box__content h3 {
    font-size: 21px;
    line-height: 1;
    font-family: "ClinicaPro-Regular", sans-serif; }

.project-box__text {
  margin: 20px 0; }

.news {
  position: relative;
  padding: 85px 0 50px; }
  .news:before {
    content: '';
    position: absolute;
    left: -570px;
    top: -50px;
    background: url("../img/bg4.png") no-repeat center;
      background-size: contain;
    width: 1131px;
    height: 1288px; }

.line-title {
  position: relative; }
  .line-title .links {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    color: #4397A5;
    text-decoration: underline; }

.news-slider {
  margin: 50px auto 0;
  width: 100%; }

.news-box {
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  max-width: 320px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto; }
  .news-box .links-details {
    color: #4397A5; }

.news-box__content {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .news-box__content h3 {
    font-weight: bold;
    margin: 10px 0 0;
    font-family: "ClinicaPro-Regular", sans-serif; }

.date {
  color: #ccc;
  font-size: 14px; }

.news-box__image {
  width: 100%;
  position: relative;
  height: 250px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .news-box__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.news-box__text {
  margin: 20px 0;
  font-size: 14px; }

.links-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3777CC; }
  .links-details .icon {
    width: 15px;
    margin: 3px 0 0 5px; }

.bg-yellow {
  background: orange; }

.bg-green {
  background: green; }

.bg-red {
  background: red; }

.tag {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2px 10px;
  color: #fff;
  font-size: 13px;
  z-index: 1; }

.slick-slide {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0 auto; }

.slick-arrow {
  z-index: 2;
  opacity: 1;
  width: 13px;
  height: 22px; }
  .slick-arrow:before {
    display: none; }

.slick-prev {
  left: 0;
  background: url("../img/arrow-slide-left.svg") no-repeat center;
    background-size: contain; }
  .slick-prev:hover, .slick-prev:focus {
    background: url("../img/arrow-slide-left.svg") no-repeat center;
      background-size: contain; }

.slick-next {
  right: 0;
  background: url("../img/arrow-slide-right.svg") no-repeat center;
    background-size: contain; }
  .slick-next:hover, .slick-next:focus {
    background: url("../img/arrow-slide-right.svg") no-repeat center;
      background-size: contain; }

.partner {
  padding: 50px 0 15px; }

.partner-content {
  margin: 75px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.partner-box {
  width: 20%;
  margin: 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px; }

footer {
  padding: 45px 0;
  background: #2C3240;
  color: #fff;
  position: relative;
  overflow: hidden; }
  footer:before {
    content: '';
    position: absolute;
    right: -480px;
    bottom: 0;
    background: url("../img/bg5.png") no-repeat center;
      background-size: contain;
    width: 1043px;
    height: 222px; }
  footer .logo {
    margin: 0; }
    footer .logo svg {
      fill: #fff; }
  footer .mail {
    color: #357C96;
    margin: 20px 0 10px; }
  footer h4 {
    font-weight: bold;
    margin: 0 0 15px;
    font-size: 18px; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: grey;
    margin: 0 5px 0 0;
    font-size: 16px;
    color: #fff; }
    .list-social a:last-child {
      margin: 0; }
    .list-social a:hover {
      background: #3777CC; }

.copyright {
  font-size: 14px;
  color: #ccc; }

.click-scroll__top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 7; }
  .click-scroll__top svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    width: 100%; }
    .click-scroll__top svg polygon {
      fill: #4397A5; }

input, .form-control {
  outline: none;
  font-family: "ClinicaPro-Regular", sans-serif;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #357C96;
  border: 1px solid #4397A5;
  padding: 0 10px;
  height: 54px; }
  input::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
    color: #357C96; }
  input::-moz-placeholder, .form-control::-moz-placeholder {
    color: #357C96; }
  input::-ms-input-placeholder, .form-control::-ms-input-placeholder {
    color: #357C96; }
  input::placeholder, .form-control::placeholder {
    color: #357C96; }
  input:hover, input:focus, .form-control:hover, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.form-subscribe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .form-subscribe button {
    width: 135px; }
  .form-subscribe .form-group {
    width: 150px;
    margin: 0; }
    .form-subscribe .form-group input {
      border: none; }

.equipment {
  padding: 27px 0 35px;
  background: url("../img/bg-decor.svg") no-repeat right -90px;
    background-size: 419px; }
  .equipment .container-fluid {
    padding: 0 55px; }

.equipment-about {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  margin: 0 0 40px; }
  .equipment-about p {
    margin: 0 0 30px; }
    .equipment-about p:last-child {
      margin: 0; }

.equipment-img {
  max-width: 418px;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .checkbox .checkbox-inp {
    display: none; }
  .checkbox .checkbox-custom {
    position: relative;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid rgba(67, 151, 165, 0.54);
      border-radius: 3px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0 14px 0 0; }
  .checkbox .label {
    display: inline-block;
    vertical-align: middle;
    color: #000000;
    cursor: pointer;
    font-size: 18px; }
  .checkbox .checkbox-inp:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    background: url("../img/check.svg") no-repeat center;
      background-size: contain; }

.filter-wrapper {
  max-width: 350px;
  margin: 0 0 0 auto;
  width: 100%;
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid #4397A5;
    border-top: 10px solid #4397A5;
  padding: 7px 13px 11px; }
  .filter-wrapper ul li {
    margin: 0 0 19px;
    display: none; }
    .filter-wrapper ul li:nth-child(-n+5) {
      display: block; }

.filter-box {
  margin: 0 0 14px;
  border-bottom: 1px solid #4397A5; }

.links-load {
  margin: 0 auto;
  color: #156371;
  font-size: 18px;
  text-decoration: underline;
  text-align: center; }
  .links-load:hover {
    color: #4397A5; }

.filter-box__title {
  font-size: 18px;
  margin: 0 0 17px; }

.btn-reset {
  width: 100%;
  margin: 27px auto 0;
  border: 1px solid #4397A5;
  color: #4397A5;
  font-size: 18px;
  font-family: 'Roboto', sans-serif; }
  .btn-reset:hover {
    background: #4397A5;
    color: #fff;
    border: 1px solid #4397A5; }

.form-search {
  max-width: 1056px;
  width: 100%;
  position: relative;
  border: 1px solid #4397A5; }
  .form-search label {
    width: 100%;
    border: none; }
    .form-search label input {
      width: 100%;
      height: 36px;
      padding: 0 40px 0 11px;
      color: #A8A8A8;
      font-size: 18px; }
      .form-search label input::-webkit-input-placeholder {
        color: #A8A8A8; }
      .form-search label input::-moz-placeholder {
        color: #A8A8A8; }
      .form-search label input::-ms-input-placeholder {
        color: #A8A8A8; }
      .form-search label input::placeholder {
        color: #A8A8A8; }
  .form-search button {
    position: absolute;
    right: 0;
    top: 0;
    background: #4397A5;
    width: 36px;
    height: 35px;
    border: none;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }

.equipment-products__wrapper .line-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 16px; }

.nav-tabs__card {
  width: auto;
  margin: 0 0 0 30px;
  border: none;
    border-radius: 0; }
  .nav-tabs__card .nav-item {
    border: none;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }
    .nav-tabs__card .nav-item .nav-link {
      width: 30px;
      min-width: 30px;
      height: 30px;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .nav-tabs__card .nav-item .nav-link:before {
        display: none; }
      .nav-tabs__card .nav-item .nav-link svg path {
        -webkit-transition: .3s ease;
        transition: .3s ease; }
      .nav-tabs__card .nav-item .nav-link:hover svg path {
        fill: #4397A5; }
    .nav-tabs__card .nav-item:nth-child(2) .nav-link {
      width: 47px;
      min-width: 47px;
      height: 27px; }
  .nav-tabs__card .nav-link.active {
    background: transparent; }

.tab-content__card {
  background: transparent;
  padding: 0;
  color: #000; }
  .tab-content__card:before {
    display: none; }

.card-line {
  width: 100%;
  margin: 70px 0 0;
  font-size: 18px; }
  .card-line td, .card-line th {
    padding: 12px 0;
    vertical-align: middle; }
  .card-line tbody tr {
    border-top: 1px solid #4397A5; }
  .card-line tbody .td-protocol, .card-line tbody .td-type, .card-line tbody .td-manufacturer {
    font-family: 'Roboto', sans-serif; }
  .card-line .td-type {
    width: 300px;
    padding: 12px 16px 12px 40px; }
  .card-line .td-number {
    padding: 12px 16px;
    width: 70px; }
  .card-line .td-manufacturer {
    width: 215px; }
  .card-line .td-protocol {
    width: 190px;
    padding: 12px 26px 12px 0; }

.card-block {
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  width: 269px;
  height: 269px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px 45px;
  border: 1px solid #4397A5;
  margin: 0 0 20px; }

.card-block__title {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #000; }

.modal-dialog {
  max-width: 672px; }

.modal-content {
  border: none;
    border-radius: 0; }

.modal-header {
  border: none;
  padding: 46px 24px 5px;
  position: relative; }
  .modal-header .close {
    position: absolute;
    top: 19px;
    right: 28px;
    opacity: 1;
    width: 14px;
    height: 14px;
    padding: 0;
    margin: 0; }

.modal-title {
  font-size: 48px;
  color: #000; }

.modal-body {
  padding: 0 26px 31px;
  color: #000; }

.form-modal .form-group {
  margin: 0 0 26px; }
  .form-modal .form-group:last-child {
    margin: 0; }
  .form-modal .form-group input {
    padding: 0;
    border: none;
      border-radius: 0;
      border-bottom: 2px solid #4397A5;
    text-align: left;
    color: rgba(165, 164, 164, 0.87);
    height: 24px; }
    .form-modal .form-group input::-webkit-input-placeholder {
      color: rgba(165, 164, 164, 0.87); }
    .form-modal .form-group input::-moz-placeholder {
      color: rgba(165, 164, 164, 0.87); }
    .form-modal .form-group input::-ms-input-placeholder {
      color: rgba(165, 164, 164, 0.87); }
    .form-modal .form-group input::placeholder {
      color: rgba(165, 164, 164, 0.87); }
    .form-modal .form-group input:focus {
      color: #4397A5; }

.form-group__title {
  margin: 0 0 28px;
  font-size: 24px; }

textarea {
  width: 100%;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
    border-radius: 0;
    border-bottom: 2px solid #4397A5;
  font-size: 16px;
  font-family: "DidactGothic", sans-serif;
  color: rgba(165, 164, 164, 0.87); }
  textarea::-webkit-input-placeholder {
    color: rgba(165, 164, 164, 0.87); }
  textarea::-moz-placeholder {
    color: rgba(165, 164, 164, 0.87); }
  textarea::-ms-input-placeholder {
    color: rgba(165, 164, 164, 0.87); }
  textarea::placeholder {
    color: rgba(165, 164, 164, 0.87); }
    textarea::-webkit-input-placeholder:focus {
      color: #4397A5; }
    textarea::-moz-placeholder:focus {
      color: #4397A5; }
    textarea::-ms-input-placeholder:focus {
      color: #4397A5; }
    textarea::placeholder:focus {
      color: #4397A5; }
  textarea:valid {
    color: #4397A5; }

.modal-footer {
  padding: 23px 21px 22px;
  background: #8EB9C6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .modal-footer button {
    width: 161px;
    height: 36px;
    border: none;
    border-radius: 2px;
    margin: 0 35px 0 0; }
    .modal-footer button:last-child {
      margin: 0; }

.btn-white {
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))), #F3F3F3;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F3F3F3;
  color: #FF0000;
  letter-spacing: 0.0357143em; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1720px) {
  .card-line .td-manufacturer {
    width: 165px; }
  .card-line .td-type {
    padding: 12px;
    width: 250px; }
  .card-line .td-protocol {
    padding: 12px;
    width: 150px; } }

@media only screen and (max-width: 1440px) {
  .card-line {
    font-size: 14px; }
  .card-line .td-manufacturer {
    width: 130px; }
  .card-line .td-type {
    width: 180px; }
  .card-line .td-protocol {
    width: 105px; }
  .equipment-img {
    max-width: 350px; } }

@media only screen and (max-width: 1199px) {
  .product-box__it {
    margin: 0 auto 30px; }
  .tab-content:before {
    height: 100%;
    background-size: cover; }
  .news-box {
    max-width: 97%; }
  .news-slider {
    padding: 0 20px; }
  .copyright {
    margin: 0 0 20px; }
  .form-subscribe {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .form-subscribe .form-group {
      width: 200px;
      margin: 0 10px 0 0; }
      .form-subscribe .form-group label {
        width: 100%; }
  footer:before {
    height: 100%;
    background-size: cover; }
  .title {
    font-size: 44px; }
  .equipment-about {
    font-size: 18px; }
  .equipment .container-fluid {
    padding: 0 15px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .nav-item-logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .logo {
    max-width: 100px; }
  .nav-link {
    font-size: 14px; }
  .dropdown-menu {
    padding: 30px 20px;
    min-width: 280px; }
  .btn {
    font-size: 14px; }
  h1 {
    font-size: 30px; }
  main {
    padding: 120px 0; }
  .nav-tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .project-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .project-box .links-title {
      width: 100%;
      text-align: center;
      min-height: auto;
      font-size: 22px; }
  .project-box__image {
    max-width: 250px;
    height: 300px; }
  .project-box__content {
    padding: 0 0 0 30px;
    width: calc(100% - 250px);
    max-width: none; }
  footer .logo {
    max-width: 200px; }
  .filter-wrapper {
    max-width: none;
    margin: 0 auto 30px; }
  .filter-wrapper ul li {
    margin: 0 0 10px; }
  .nav-tabs__card {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    padding: 0 20px; }
    .header-main .btn-call {
      margin: 0 20px 0 auto;
      width: 220px; }
  .logo-mobile {
    max-width: 150px;
    width: 100%; }
  header {
    padding: 10px 0; }
  .navbar-toggler {
    width: 20px;
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .navbar-nav .nav-item {
    border: none;
      border-bottom: 1px solid #4397A5; }
    .navbar-nav .nav-item:last-child {
      border: none; }
  .navbar-nav .nav-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .dropdown-menu {
    min-width: auto;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .tab-box__content {
    max-width: none; }
  .callback {
    background: #fff; }
    .callback:before {
      display: none; }
  .form-call button {
    margin: 30px auto 0; }
  .callback-content .description {
    margin: 20px auto 40px; }
  .callback-content {
    padding: 60px 0 30px; }
  .partner-content {
    margin: 40px auto 0; }
  .partner-box {
    width: 30%;
    padding: 10px;
    margin: 0 0 30px; }
  .form-subscribe {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .form-subscribe .form-group {
      width: 49%;
      margin: 0 0 15px; }
    .form-subscribe button {
      width: 200px;
      margin: 0 auto; }
  main {
    background-position: -277px center; }
  .phone {
    font-size: 18px;
    margin: 0 auto; }
  .header-top {
    padding: 0; }
  .card-line .td-number {
    padding: 12px 10px;
    width: 50px; }
  .modal-title {
    font-size: 30px; }
  .form-group__title {
    font-size: 18px;
    margin: 0 0 10px; } }

@media only screen and (max-width: 600px) {
  .card-block {
    width: 250px;
    height: 250px; } }

@media only screen and (max-width: 575px) {
  main {
    padding: 70px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    main p {
      margin: 30px auto 50px;
      text-align: center; }
  .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 100%; }
    .btn-group .btn {
      width: 100%;
      height: 53px; }
  h1 {
    text-align: center; }
  .product {
    padding: 70px 0 40px; }
    .product h2 {
      margin: 0 auto 34px; }
  .system-box__top h3 {
    font-size: 20px; }
  .system-box {
    margin: 0 0 30px; }
  .system-box__icon {
    margin: 0 20px 0 0; }
  .system h2 {
    margin: 0 auto 40px; }
  .project-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px 0 0 0; }
  .project-box__content {
    width: 100%;
    padding: 30px 0 0 0; }
  .line-title .links {
    right: 20px; }
  .news-box__image {
    height: 200px; }
  .partner-box {
    width: 50%; }
  .list-social {
    margin: 0 0 20px; }
  .btn-group .btn-border {
    border-radius: 0 0 5px 5px; }
  .btn-group:not(:first-child) {
    border-bottom-left-radius: 5px; }
  .product-box__it:hover .product-box {
    height: 100%;
    padding: 35px;
    width: 100%; }
  .dropdown-menu__logos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .logo-item {
    width: 100%; }
    .logo-item .img-logo {
      min-height: auto; }
  .header-main .header-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header-main .header-top .btn-call {
      margin: 10px auto 0;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      width: 100%; }
  .title {
    font-size: 34px;
    margin: 0 auto 10px; }
  .equipment-about {
    font-size: 16px; }
    .equipment-about p {
      margin: 0 0 20px; }
  .card-line .td-manufacturer {
    padding: 12px;
    width: 150px; }
  .card-line .td-name {
    min-width: 200px; }
  .card-line .td-type {
    min-width: 180px; }
  .card-line {
    margin: 0; }
  .nav-tabs__card .nav-item:nth-child(2) .nav-link {
    width: 60px;
    min-width: 60px; }
  .tab-content__card .tab-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 480px) {
  .form-search label input {
    font-size: 16px; }
  .equipment-products__wrapper .line-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .nav-tabs__card {
    margin: 10px auto 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .modal-header {
    padding: 26px 24px 5px; } }

@media only screen and (max-width: 420px) {
  .modal-footer {
    padding: 20px 23px; }
    .modal-footer button {
      margin: 0 auto 10px;
      width: 100%; } }

@media only screen and (max-width: 370px) {
  .logo-mobile {
    max-width: 120px; }
  .navbar-toggler {
    width: 15px;
    height: 10px; }
  .header-main .btn-call {
    margin: 0 10px 0 auto; }
  h1 {
    font-size: 26px; }
  h2 {
    font-size: 24px; }
  .nav-tabs .nav-item {
    border: none;
      border-bottom: 1px solid #4397A5;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%; }
  .tab-content {
    padding: 30px 20px 20px; }
  .tab-box .number {
    margin: 10px 20px 0 0; }
  .line-title .links {
    position: relative;
    right: 0;
    top: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px auto 0; }
  .phone {
    font-size: 16px; }
    .phone .icon {
      width: 14px;
      height: 14px; }
  .nav-tabs__card .nav-item {
    width: auto; }
  .tab-content__card {
    padding: 0; }
  .title {
    font-size: 30px; }
  .modal-title {
    font-size: 24px; } }
