@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1720px)
  .card-line .td-manufacturer
    width: 165px

  .card-line .td-type
    padding: 12px
    width: 250px

  .card-line .td-protocol
    padding: 12px
    width: 150px

@media only screen and (max-width : 1440px)
  .card-line
    font-size: 14px

  .card-line .td-manufacturer
    width: 130px

  .card-line .td-type
    width: 180px

  .card-line .td-protocol
    width: 105px

@media only screen and (max-width : 1199px)
  .product-box__it
    margin: 0 auto 30px

  .tab-content:before
    height: 100%
    -webkit-background-size: cover
    background-size: cover

  .news-box
    max-width: 97%

  .news-slider
    padding: 0 20px

  .copyright
    margin: 0 0 20px

  .form-subscribe
    justify-content: flex-start
    .form-group
      width: 200px
      margin: 0 10px 0 0
      label
        width: 100%

  footer
    &:before
      height: 100%
      -webkit-background-size: cover
      background-size: cover

  .title
    font-size: 44px

  .equipment-about
    font-size: 18px


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .nav-item-logo
    flex: 1

  .logo
    max-width: 100px

  .nav-link
    font-size: 14px

  .dropdown-menu
    padding: 30px 20px
    min-width: 280px

  .btn
    font-size: 14px

  h1
    font-size: 30px

  main
    padding: 120px 0

  .nav-tabs
    flex-wrap: wrap

  .project-box
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: flex-start
    .links-title
      width: 100%
      text-align: center
      min-height: auto
      font-size: 22px

  .project-box__image
    max-width: 250px
    height: 300px

  .project-box__content
    padding: 0 0 0 30px
    width: calc(100% - 250px)
    max-width: none

  footer .logo
    max-width: 200px

  .filter-wrapper
    max-width: none
    margin: 0 auto 30px

  .filter-wrapper ul li
    margin: 0 0 10px

  .nav-tabs__card
    flex-wrap: nowrap

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  .header-main
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    position: relative
    padding: 0 20px
    .btn-call
      margin: 0 20px 0 auto
      width: 220px

  .logo-mobile
    max-width: 150px
    width: 100%

  header
    padding: 10px 0

  .navbar-toggler
    width: 20px
    height: 15px
    display: flex
    flex-direction: column
    justify-content: space-between

  .navbar-nav
    .nav-item
      border: none
        bottom: 1px solid #4397A5
      &:last-child
        border: none
    .nav-item
      flex-direction: column
      align-items: center

  .dropdown-menu
    min-width: auto
    width: 100%
    justify-content: space-around


  .tab-box__content
    max-width: none

  .callback
    background: #fff
    &:before
      display: none

  .form-call button
    margin: 30px auto 0

  .callback-content .description
    margin: 20px auto 40px

  .callback-content
    padding: 60px 0 30px

  .partner-content
    margin: 40px auto 0

  .partner-box
    width: 30%
    padding: 10px
    margin: 0 0 30px

  .form-subscribe
    justify-content: space-between
    .form-group
      width: 49%
      margin: 0 0 15px
    button
      width: 200px
      margin: 0 auto

  main
    background-position: -277px center

  .phone
    font-size: 18px
    margin: 0 auto

  .header-top
    padding: 0

  .card-line .td-number
    padding: 12px 10px
    width: 50px

  .modal-title
    font-size: 30px

  .form-group__title
    font-size: 18px
    margin: 0 0 10px

@media only screen and (max-width : 600px)
  .card-block
    width: 250px
    height: 250px

@media only screen and (max-width : 575px)
  main
    padding: 70px 0
    flex-direction: column
    align-items: center
    p
      margin: 30px auto 50px
      text-align: center


  .btn-group
    flex-direction: column
    align-items: center
    margin: 0 auto
    width: 100%
    .btn
      width: 100%
      height: 53px

  h1
    text-align: center

  .product
    padding: 70px 0 40px
    h2
      margin: 0 auto 34px

  .system-box__top h3
    font-size: 20px

  .system-box
    margin: 0 0 30px

  .system-box__icon
    margin: 0 20px 0 0

  .system h2
    margin: 0 auto 40px

  .project-box
    flex-direction: column
    align-items: center
    margin: 40px 0 0 0

  .project-box__content
    width: 100%
    padding: 30px 0 0 0

  .line-title .links
    right: 20px

  .news-box__image
    height: 200px

  .partner-box
    width: 50%

  .list-social
    margin: 0 0 20px

  .btn-group
    .btn-border
      border-radius: 0 0 5px 5px
    &:not(:first-child)
      border-bottom-left-radius: 5px

  .product-box__it:hover .product-box
    height: 100%
    padding: 35px
    width: 100%

  .dropdown-menu__logos
    flex-wrap: wrap

  .logo-item
    width: 100%
    .img-logo
      min-height: auto

  .header-main
    .header-top
      flex-wrap: wrap
      .btn-call
        margin: 10px auto 0
        order: 1
        width: 100%

  .title
    font-size: 34px
    margin: 0 auto 10px

  .equipment-about
    font-size: 16px
    p
      margin: 0 0 20px

  .card-line .td-manufacturer
    padding: 12px
    width: 150px

  .card-line
    .td-name
      min-width: 200px

  .card-line .td-type
    min-width: 180px

  .card-line
    margin: 0

  .nav-tabs__card .nav-item:nth-child(2) .nav-link
    width: 60px
    min-width: 60px

  .tab-content__card
    .tab-wrapper
      justify-content: space-around

/* Custom, iPhone Retina */
@media only screen and (max-width : 480px)
  .form-search label input
    font-size: 16px

  .equipment-products__wrapper .line-wrapper
    flex-wrap: wrap

  .nav-tabs__card
    margin: 10px auto 0
    width: 100%
    justify-content: center

  .modal-header
    padding: 26px 24px 5px

@media only screen and (max-width : 420px)
  .modal-footer
    padding: 20px 23px
    button
      margin: 0 auto 10px
      width: 100%

@media only screen and (max-width : 370px)
  .logo-mobile
    max-width: 120px

  .navbar-toggler
    width: 15px
    height: 10px

  .header-main .btn-call
    margin: 0 10px 0 auto

  h1
    font-size: 26px

  h2
    font-size: 24px

  .nav-tabs .nav-item
    border: none
      bottom: 1px solid #4397A5
    flex: none
    width: 100%

  .tab-content
    padding: 30px 20px 20px

  .tab-box .number
    margin: 10px 20px 0 0

  .line-title .links
    position: relative
    right: 0
    top: 0
    transform: translate(0)
    text-align: center
    justify-content: center
    align-items: center
    margin: 20px auto 0

  .phone
    font-size: 16px
    .icon
      width: 14px
      height: 14px

  .nav-tabs__card .nav-item
    width: auto

  .tab-content__card
    padding: 0

  .title
    font-size: 30px

  .modal-title
    font-size: 24px
