@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font

  color: #1B1A1F

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center


a
  display: block
  transition: .3s ease
  text-decoration: none
  outline: none
  &:hover, &:focus
    outline: none
    text-decoration: none

h1
  font-size: 34px
  color: #fff
  font-family: $clinica

h2
  color: $title
  font-size: 34px
  width: 100%
  text-align: center
  font-family: $clinica

.title
  //font-family: $default-font
  color: #000000
  font-size: 64px
  text-align: center
  font-weight: normal


.container
  position: relative
  z-index: 2

.tab-pane
  position: relative
  z-index: 1

.color-accent
  color: $accent

.btn
  display: flex
  align-items: center
  justify-content: center
  padding: 0
  border: none
    radius: 0
  outline: none
  font-size: 16px
  font-family: $default-font
  &:hover, &:focus
    border: none
    box-shadow: none

.btn-accent
  color: #fff
  background: $btn
  height: 53px
  &:hover
    background: $accent

.btn-call
  background: $btn
  color: #fff
  text-transform: uppercase
  padding: 5px 10px
  font-weight: bold
  border-radius: 5px
  &:hover
    color: #fff
    background: $accent

.btn-border
  background: transparent
  &:hover
    background: $accent

.btn-submit
  background: $btn2
  border-radius: 5px
  color: #fff
  width: 232px
  height: 54px
  &:hover
    color: #fff
    background: $btn


.btn-group
  border: none
    radius: 5px
  overflow: hidden
  .btn
    border: 1px solid $btn
  .btn-accent
    width: 278px
    &:hover
      border-color: #4397A5
  .btn-border
    width: 196px
    border-radius: 0 5px 5px 0
    &:hover
      border-color: #4397A5

//menu
.navbar-toggler
  padding: 0
  border: none
  border-radius: 0
  display: none
  span
    width: 20px
    display: flex
    align-items: center
    justify-content: center
    height: 2px
    border-radius: 3px
    background: #1B1A1F
  &:hover, &:focus
    box-shadow: none
    outline: none

nav.navbar .dropdown:hover
  .dropdown-toggle::after
    transform: rotate(180deg)
  > .dropdown-menu
    display: flex
    align-items: center


.navbar
  padding: 0
  width: 100%
  .navbar-nav
    width: 100%
    display: flex
    align-items: stretch
    justify-content: space-between
    .nav-link
      padding: 20px 0

.nav-link
  display: flex
  align-items: center
  justify-content: center
  color: #1B1A1F
  text-align: center
  font-size: 16px
  width: 100%
  height: 100%
  font-family: 'Roboto', sans-serif
  position: relative
  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 5px
    background: transparent
    transition: .3s ease
  &:hover
    color: $accent
    &:before
      background: #4397A5
    

.nav-item
  flex: 1
  display: flex
  align-items: center
  justify-content: center
  border:
    right: 1px solid $accent
    top: 1px solid $accent
  &:last-child
    border: none
      top: 1px solid $accent

.dropdown-toggle::after
  width: 7px
  height: 5px
  background: url("../img/arrow-bottom.svg") no-repeat center
    size: contain
  border: none
  transition: .3s ease

.nav-item-logo
  flex: 1.5

.logo
  max-width: 190px
  width: 100%
  margin: 0 auto

.dropdown-menu
  background: #fff
  border: none
    radius: 0
  box-shadow: 0 18px 10px rgba(#1D1D1B, .15)
  padding: 40px 30px
  justify-content: space-between
  align-items: center
  flex-wrap: wrap

.dropdown-item
  padding: 0
  display: flex
  align-items: center
  justify-content: center
  width: auto
  margin: 0 0 9px
  &:hover
    background: transparent
    color: $accent
    img
      opacity: .7

.dropdown-menu__logos
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: space-between

.logo-item
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  width: 240px
  white-space: normal
  padding: 10px 15px
  .img-logo
    min-height: 49px
    max-width: 150px
    width: 100%
    margin: 0 0 10px

//header
header
  border-bottom: 1px solid $accent
  box-shadow: 0 18px 19px rgba(29, 29, 27, 0.15)
  .btn-call
    width: 100%
    height: 100%
    border-radius: 0
    padding: 5px

.header-main
  padding: 0

.header-top
  padding: 14px 45px 8px
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  .logo
    margin: 0

.phone
  display: flex
  align-items: center
  color: #000000
  font-size: 24px
  font-family: 'Roboto', sans-serif
  .icon
    width: 18px
    height: 18px
    margin: 0 7px 0 0
  &:hover
    color: $accent

//main
main
  background: url("../img/main_baner.jpg") no-repeat center
    size: cover
  color: #fff
  padding: 170px 0
  p
    font-size: 15px
    margin: 30px 0 50px
    max-width: 340px


//product
.product
  padding: 108px 0 90px
  position: relative
  overflow: hidden
  &:before
    content: ''
    position: absolute
    right: -276px
    top: -210px
    width: 1221px
    height: 929px
    background: url("../img/bg1.png") no-repeat center
      size: contain
  h2
    margin: 0 auto 115px

.product-box__it
  width: 345px
  height: 345px
  position: relative
  transition: .3s ease
  margin: 0 auto
  &:hover
    width: 396px
    .product-box
      padding: 45px 35px 110px
      box-shadow: 0 18px 25px rgba(#1D1D1B, .30)
      color: #000
      height: 396px
    h6
      color: $link
      font-family: $clinica
      font-size: 15px


.product-box
  position: absolute
  width: 100%
  height: 100%
  bottom: 0
  left: 50%
  transform: translate(-50%,0)
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  background: #fff
  border:
    radius: 10px

  padding: 35px
  box-sizing: border-box
  color: #1B1A1F
  //width: 345px
  .links
    display: flex
    align-items: center
    color: $accent
    .icon
      width: 20px
      margin: 3px 0 0 5px



.product-box__icon
  width: 55px
  height: 55px
  border:
    radius: 5px
  background: #F2F6F7
  display: flex
  align-items: center
  justify-content: center
  padding: 10px

.product-box__title
  text-align: center
  margin: 20px auto 10px
  font-size: 26px

.product-box__description
  margin: 20px auto 27px
  text-align: center
  max-width: 275px
  width: 100%
  min-height: 70px
  line-height: 1

.product-wrapper
  display: flex
  align-items: flex-end
  justify-content: space-between
  flex-wrap: wrap

//application
.application
  padding: 0 0 77px
  position: relative
  &:before
    content: ''
    position: absolute
    left: -566px
    bottom: -30px
    background: url("../img/bg2.png") no-repeat center
      size: contain
    width: 989px
    height: 713px
  .description
    text-align: center
    max-width: 575px
    margin: 13px auto 42px
    font-size: 15px

.nav-tabs
  border: 1px solid #4397A5
    radius: 5px 5px 0 0
  box-sizing: border-box
  overflow: hidden
  flex-wrap: nowrap
  width: 100%
  .nav-item
    flex: auto
  .nav-link
    width: 100%
    height: 100%
    color: #1B1A1F
    border: none
    padding: 10px
    &:hover
      border-color: transparent
  .nav-link.active
    border-color: transparent
    background: #2C3240
    color: #fff
    border-radius: 0

.tabs-wrapper
  width: 100%
  box-shadow: 0 18px 25px rgba(#1D1D1B, .3)

.tab-content
  width: 100%
  background: #2C3240
  color: #fff
  border:
    radius: 0 0 5px 5px
  overflow: hidden
  position: relative
  padding: 45px 45px 20px
  &:before
    content: ''
    position: absolute
    right: 0
    top: 0
    width: 1160px
    height: 297px
    background: url("../img/bg-tab.png") no-repeat center
      size: contain

.tab-wrapper
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap

.tab-box
  display: flex
  align-items: flex-start
  margin: 0 0 20px
  .number
    color: #4397A5
    font-size: 33px
    margin: 10px 30px 0 0
    font-family: $clinica
    line-height: 1

.tab-box__content
  max-width: 175px
  width: 100%
  line-height: 1.2
  h3
    font-size: 18px
    margin: 0 0 10px
  p
    opacity: .8

.description
  color: #357C96

//system
.system
  padding: 0 0 50px
  position: relative
  z-index: 1
  &:before
    content: ''
    position: absolute
    right: -277px
    bottom: -435px
    background: url("../img/bg3.png") no-repeat center
      size: contain
    width: 936px
    height: 887px
  h2
    margin: 0 auto 65px

.system-box
  margin: 0 0 50px
  background: #fff
  border-radius: 10px
  box-shadow: 0 18px 19px rgba(#1D1D1B,.15)
  display: flex
  flex-wrap: wrap
  flex-direction: column
  align-items: flex-start
  padding: 38px 35px 28px
  color: #1B1A1F

.system-box__top
  margin: 0 0 20px
  padding: 0 0 20px
  border-bottom: 1px solid #DADADA
  width: 100%
  display: flex
  align-items: center
  h3
    font-size: 26px
    line-height: 1

.system-box__icon
  width: 50px
  height: 50px
  display: flex
  align-items: center
  justify-content: center
  min-width: 50px
  background: #3777CC
  padding: 10px
  border-radius: 5px
  margin: 0 45px 0 0

//callback
.callback
  background: #fff
  position: relative
  overflow: hidden
  z-index: 1
  &:before
    content: ''
    position: absolute
    left: -45px
    top: 50%
    transform: translate(0,-50%)
    width: 50%
    height: 100%
    background: url("../img/bg1.jpg") no-repeat 80% center
      size: 1562px

.callback-content
  padding: 100px 0 80px
  max-width: 370px
  margin: 0 auto
  .description
    color: #357C96
    text-align: center
    margin: 30px auto 40px




.form-call
  display: flex
  flex-direction: column
  align-items: center
  .form-group
    width: 100%
    margin: 0 0 20px
    label
      width: 100%
    input
      text-align: center
      color: rgba(#357C96, .7)
      &::placeholder
        color: rgba(#357C96, .7)
  button
    margin: 65px auto 0


//project
.project
  padding: 65px 0 0
  position: relative
  z-index: 1

.project-box
  display: flex
  flex-direction: column
  align-items: flex-start
  margin: 50px 0 0

  .links-title
    margin: 0 auto 20px
    min-height: 60px
    font-size: 26px
    color: #357C96
    line-height: 1
  .links-details
    color: #4397A5

.project-box__image
  max-width: 342px
  height: 400px
  width: 100%
  box-shadow: 0 18px 19px rgba(#1D1D1B,.15)
  border-radius: 10px
  display: flex
  align-items: center
  justify-content: center
  padding: 25px 20px

.project-box__content
  padding: 30px 0 0
  max-width: 290px
  width: 100%
  h3
    font-size: 21px
    line-height: 1
    font-family: $clinica

.project-box__text
  margin: 20px 0

//news
.news
  position: relative
  padding: 85px 0 50px
  &:before
    content: ''
    position: absolute
    left: -570px
    top: -50px
    background: url("../img/bg4.png") no-repeat center
      size: contain
    width: 1131px
    height: 1288px

.line-title
  position: relative
  .links
    position: absolute
    right: 0
    top: 50%
    transform: translate(0,-50%)
    color: #4397A5
    text-decoration: underline

.news-slider
  margin: 50px auto 0
  width: 100%

.news-box
  background: #fff
  box-shadow: 0 0 5px rgba(#000,.1)
  border-radius: 5px
  box-sizing: border-box
  overflow: hidden
  max-width: 320px
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  margin: 10px auto
  .links-details
    color: #4397A5

.news-box__content
  padding: 15px 20px
  display: flex
  flex-direction: column
  align-items: flex-start
  h3
    font-weight: bold
    margin: 10px 0 0
    font-family: $clinica

.date
  color: #ccc
  font-size: 14px

.news-box__image
  width: 100%
  position: relative
  height: 250px
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center
  img
    width: 100%
    height: 100%
    object-fit: cover

.news-box__text
  margin: 20px 0
  font-size: 14px

.links-details
  display: flex
  align-items: center
  color: #3777CC
  .icon
    width: 15px
    margin: 3px 0 0 5px


.bg-yellow
  background: orange

.bg-green
  background: green

.bg-red
  background: red

.tag
  position: absolute
  left: 0
  bottom: 0
  padding: 2px 10px
  color: #fff
  font-size: 13px
  z-index: 1

.slick-slide
  outline: none
  box-shadow: none
  margin: 0 auto

.slick-arrow
  z-index: 2
  opacity: 1
  width: 13px
  height: 22px
  &:before
    display: none

.slick-prev
  left: 0
  background: url("../img/arrow-slide-left.svg") no-repeat center
    size: contain
  &:hover, &:focus
    background: url("../img/arrow-slide-left.svg") no-repeat center
      size: contain

.slick-next
  right: 0
  background: url("../img/arrow-slide-right.svg") no-repeat center
    size: contain
  &:hover, &:focus
    background: url("../img/arrow-slide-right.svg") no-repeat center
      size: contain


//partner
.partner
  padding: 50px 0 15px

.partner-content
  margin: 75px auto 0
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap

.partner-box
  width: 20%
  margin: 0 0 50px
  display: flex
  align-items: center
  justify-content: center
  padding: 5px


//footer
footer
  padding: 45px 0
  background: #2C3240
  color: #fff
  position: relative
  overflow: hidden
  &:before
    content: ''
    position: absolute
    right: -480px
    bottom: 0
    background: url("../img/bg5.png") no-repeat center
      size: contain
    width: 1043px
    height: 222px
  .logo
    margin: 0
    svg
      fill: #fff
  .mail
    color: $link
    margin: 20px 0 10px
  h4
    font-weight: bold
    margin: 0 0 15px
    font-size: 18px

.list-social
  display: flex
  align-items: center
  flex-wrap: wrap
  a
    display: flex
    align-items: center
    justify-content: center
    width: 35px
    height: 35px
    border-radius: 50%
    background: grey
    margin: 0 5px 0 0
    font-size: 16px
    color: #fff
    &:last-child
      margin: 0
    &:hover
      background: $btn2

.copyright
  font-size: 14px
  color: #ccc

.click-scroll__top
  position: fixed
  right: 20px
  bottom: 20px
  width: 40px
  height: 40px
  cursor: pointer
  background: #fff
  box-shadow: 0 0 10px rgba(#000, .3)
  border-radius: 5px
  padding: 0 7px
  display: flex
  align-items: center
  justify-content: center
  z-index: 7
  svg
    transform: rotate(180deg)
    width: 100%
    polygon
      fill: $accent

input, .form-control
  outline: none
  font-family: $clinica
  font-size: 15px
  box-sizing: border-box
  color: $link
  border: 1px solid $accent
  padding: 0 10px
  height: 54px
  &::placeholder
    color: $link
  &:hover, &:focus
    outline: none
    box-shadow: none

.form-subscribe
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  button
    width: 135px
  .form-group
    width: 150px
    margin: 0
    input
      border: none

//equipment
.equipment
  padding: 27px 0 35px
  background: url("../img/bg-decor.svg") no-repeat right -90px
    size: 419px
  .container-fluid
    padding: 0 55px

.equipment-about
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: 24px
  margin: 0 0 40px
  p
    margin: 0 0 30px
    &:last-child
      margin: 0

.equipment-img
  max-width: 418px
  margin: 0 0 0 auto
  display: flex
  align-items: center
  justify-content: center

.checkbox
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start
  .checkbox-inp
    display: none
  .checkbox-custom
    position: relative
    width: 22px
    height: 22px
    display: inline-block
    vertical-align: middle
    border: 2px solid rgba(#4397A5, .54)
      radius: 3px
    background: #fff
    cursor: pointer
    transition: .3s ease
    margin: 0 14px 0 0
  .label
    display: inline-block
    vertical-align: middle
    color: #000000
    cursor: pointer
    font-size: 18px
  .checkbox-inp:checked + .checkbox-custom
    &::before
      content: ""
      display: block
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      width: 22px
      height: 22px
      background: url("../img/check.svg") no-repeat center
        size: contain

.filter-wrapper
  max-width: 350px
  margin: 0 0 0 auto
  width: 100%
  border-radius: 2px
  background: #fff
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12)
  border: 1px solid #4397A5
    top: 10px solid #4397A5
  padding: 7px 13px 11px
  ul
    li
      margin: 0 0 19px
      display: none
      &:nth-child(-n+5)
        display: block

.filter-box
  margin: 0 0 14px
  border-bottom: 1px solid #4397A5


.links-load
  margin: 0 auto
  color: #156371
  font-size: 18px
  text-decoration: underline
  text-align: center
  &:hover
    color: #4397A5

.filter-box__title
  font-size: 18px
  margin: 0 0 17px

.btn-reset
  width: 100%
  margin: 27px auto 0
  border: 1px solid #4397A5
  color: #4397A5
  font-size: 18px
  font-family: 'Roboto', sans-serif
  &:hover
    background: #4397A5
    color: #fff
    border: 1px solid #4397A5

.form-search
  max-width: 1056px
  width: 100%
  position: relative
  border: 1px solid #4397A5
  label
    width: 100%
    border: none
    input
      width: 100%
      height: 36px
      padding: 0 40px 0 11px
      color: #A8A8A8
      font-size: 18px
      &::placeholder
        color: #A8A8A8
  button
    position: absolute
    right: 0
    top: 0
    background: #4397A5
    width: 36px
    height: 35px
    border: none
    outline: none
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer

.equipment-products__wrapper
  .line-wrapper
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 0 16px

.nav-tabs__card
  width: auto
  margin: 0 0 0 30px
  border: none
    radius: 0
  .nav-item
    border: none
    flex: none
    .nav-link
      width: 30px
      min-width: 30px
      height: 30px
      padding: 0
      display: flex
      align-items: center
      justify-content: center
      &:before
        display: none
      svg
        path
          transition: .3s ease
      &:hover
        svg
          path
            fill: #4397A5
    &:nth-child(2)
      .nav-link
        width: 47px
        min-width: 47px
        height: 27px
  .nav-link.active
    background: transparent

.tab-content__card
  background: transparent
  padding: 0
  color: #000
  &:before
    display: none

.card-line
  width: 100%
  margin: 70px 0 0
  font-size: 18px
  td, th
    padding: 12px 0
    vertical-align: middle
  tbody
    tr
      border-top: 1px solid #4397A5
    .td-protocol, .td-type, .td-manufacturer
      font-family: 'Roboto', sans-serif
  .td-type
    width: 300px
    padding: 12px 16px 12px 40px
  .td-number
    padding: 12px 16px
    width: 70px
  .td-manufacturer
    width: 215px
  .td-protocol
    width: 190px
    padding: 12px 26px 12px 0

.card-block
  border-radius: 2px
  background: #fff
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12)
  width: 269px
  height: 269px
  display: flex
  align-items: flex-end
  justify-content: center
  padding: 10px 10px 45px
  border: 1px solid #4397A5
  margin: 0 0 20px

.card-block__title
  font-size: 18px
  font-family: 'Roboto', sans-serif
  color: #000

//modal
.modal-dialog
  max-width: 672px

.modal-content
  border: none
    radius: 0

.modal-header
  border: none
  padding: 46px 24px 5px
  position: relative
  .close
    position: absolute
    top: 19px
    right: 28px
    opacity: 1
    width: 14px
    height: 14px
    padding: 0
    margin: 0

.modal-title
  font-size: 48px
  color: #000

.modal-body
  padding: 0 26px 31px
  color: #000

.form-modal

  .form-group
    margin: 0 0 26px
    &:last-child
      margin: 0
    input
      padding: 0
      border: none
        radius: 0
        bottom: 2px solid #4397A5
      text-align: left
      color: rgba(165, 164, 164, 0.87)
      height: 24px
      &::placeholder
        color: rgba(165, 164, 164, 0.87)
      &:focus
        color: #4397A5

.form-group__title
  margin: 0 0 28px
  font-size: 24px

textarea
  width: 100%
  padding: 0
  outline: none
  box-sizing: border-box
  border: none
    radius: 0
    bottom: 2px solid #4397A5
  font-size: 16px
  font-family: $default-font
  color: rgba(165, 164, 164, 0.87)
  &::placeholder
    color: rgba(165, 164, 164, 0.87)
    &:focus
      color: #4397A5
  &:valid
    color: #4397A5

.modal-footer
  padding: 23px 21px 22px
  background: #8EB9C6
  display: flex
  align-items: center
  justify-content: flex-start
  flex-wrap: wrap
  button
    width: 161px
    height: 36px
    border: none
    border-radius: 2px
    margin: 0 35px 0 0
    &:last-child
      margin: 0

.btn-white
  border-radius: 2px
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12)
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F3F3F3
  color: #FF0000
  letter-spacing: 0.0357143em


@import "media"
// Всегда в конце
